@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}  

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/5_background/desert.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    font-family: 'zabars';
}
canvas
{
    background-color: black;
    border: 25px ridge goldenrod;
}
h1
{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}
.start-image,.endscreen-image
{
    height: 480px;
    width: 720px;
    border: 25px ridge goldenrod;
}
.start-button
{
    cursor: pointer;
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    padding: 10px 20px;
    font-size: 1.9rem;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    background-color: rgb(247, 188, 99);
    border: 3px solid rgb(184, 97, 39);
    border-radius: 12px;
}
.instructionsContainer{
    display: flex;
    gap: 50px;
    font-size: 24px;
}

@media (max-width: 1629px){
    .start-button{
        bottom: 23%;
    }
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
        border: none;
    }
    .start-image,.endscreen-image{
        border: none;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
        border: none;
    }
    h1, .instructionsContainer{
        display: none;
    }
    .start-image,.endscreen-image{
        border: none;
    }
}