@font-face {
  font-family: "zabars";
  src: url("./fonts/zabars.ttf") format("truetype");
}

body {
  margin: 0;
  background-image: url(./img/5_background/desert.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.headerMain {
  display: inline;
  justify-content: center !important;
  align-items: center;
}

canvas {
  background-color: black;
  border: 25px ridge goldenrod;
}

h1 {
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.d-none {
  display: none;
}

.start-image,
.endscreen-image {
  height: 480px;
  width: 720px;
  border: 25px ridge goldenrod;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 105px;
  margin-left: 85px;
  margin-top: 340px;
}

.panel1 {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  left: 0%;
  bottom: 1%;
  z-index: 1001; /* sicherstellen, dass Buttons sichtbar bleiben */
}

.panel2 {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  left: 0%;
  top: 1%;
  gap: 10px;
  z-index: 1001; /* sicherstellen, dass Buttons sichtbar bleiben */
}

.left_btn,
.jump_btn {
  margin-right: 10px;
}

.throw_btn,
.mute_btn {
  margin-right: 10px;
}

.left_btn {
  margin-left: 10px;
}

.startButton,
.restartButton {
  padding: 10px 20px;
  font-size: 32px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: rgb(247, 188, 99);
  border: 3px solid rgb(184, 97, 39);
  border-radius: 12px;
  cursor: pointer;
}
.startButton:hover{
    scale: 1.1;
}

.backButtonInstructionsContainer,
.backButtonImprintContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.backButtonInstructions {
  padding: 10px 20px;
  font-size: 1.9rem;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: rgb(247, 188, 99);
  border: 3px solid rgb(184, 97, 39);
  border-radius: 12px;
}

.backButtonImprint {
  padding: 10px 20px;
  font-size: 1.9rem;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: rgb(247, 188, 99);
  border: 3px solid rgb(184, 97, 39);
  border-radius: 12px;
  margin-bottom: 12px;
}

.imprintButton,
.instructionButton {
  padding: 10px 20px;
  font-size: 1.9rem;
  background-color: transparent;
  color: white;
  border: 0;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  cursor: pointer;
  letter-spacing: 3px;
}

.imprintButton:hover,
.instructionButton:hover {
  color: brown;
}

.instructionsContainer {
  border: 25px ridge goldenrod;
  height: 300px;
  width: 720px;
  background-color: rgb(247, 188, 99);
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

h3 {
  margin: 10px;
}

.back_btn {
  height: 40px;
}

.imprintContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: rgb(247, 188, 99);
  border: 25px ridge goldenrod;
  border-radius: 12px;
  width: 480px;
}

.imprint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  margin-top: 12px;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -12px;
}

.headerImprint,
.contactTxt {
  margin: 0px;
}

.headerImprint {
  font-size: 48px;
}

.fullscreen{
    height: 55px;
    cursor: pointer;
}

.fullscreen:hover{
    scale: 1.1;
}

.fullscreenButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: -500px;
    margin-right: 50px;
}

@media (max-width: 800px) {
  .mainContainer {
    width: fit-content;
  }
  body {
    background-position: top;
    background-size: 200%;
  }
  .imprintContainer{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 722px) {
  body {
    background-position: top;
    background-size: 300%;
  }
}

@media (max-width: 588px) {
  body {
    background-position: top;
    background-size: 400%;
  }
}

@media (max-width: 510px) {
  body {
    background-position: top;
    background-size: 450%;
  }
}

@media (max-width: 480px) {
  .rotateDeviceContainer {
    display: flex;
    text-align: center;
    align-items: center;
    text-wrap: wrap;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    letter-spacing: 5px;
    color: rgba(255, 0, 0, 0.8);
    font-size: 55px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1002;
  }
}

@media only screen and (max-width: 824px) and (max-height: 480px) and (orientation: landscape) {
  .buttonContainer {
    display: none;
  }
  .hud {
    display: block;
  }
  canvas,
  .canvasContainer,
  .start-image,
  .endscreen-image,
  .startContainer,
  .gameOverContainer {
    height: 100vh;
    width: 100vw;
    border: none;
    margin: 0;
    overflow-y: hidden;
  }
  .headerMain,
  .instructionsContainer {
    display: none;
  }
  .startButtonContainer {
    bottom: 2%;
  }
}
